body{
    margin: 0%;
    padding: 0%;
    font-family: "Arial", Helvetica, sans-serif;
}
i{
    font-size: 75px;
    cursor: pointer;
    position: absolute;
    top: 7%;
    left: 90%;
    transform: translate(-50%, -50%);
}
body{
    font-size: 2em;
}
h1{
    font-size: 3em;
}

 

